body {
    margin: 0;
    padding: 0;
    background-color: white;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

.header .Project a h1:hover {
    color: red;
}

.header {
    background-color: pink;
    height: 800px;
    width: 300px;
    margin: 0px auto;
    padding: 11px 11px;
}

h1{
    text-align: center;
    color: black;
}

.Project{
    border-top: 2px solid black;
}



.header .MyProjectUrl{
    border: 2px solid black;
    margin-top: 21px;
    border-radius: 21px;
}
