/* 下载文件.css */



body {
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
}

.files a h1:hover {
    color: red;
}

.files {
    background-color: pink;
    height: 800px;
    width: 330px;
    margin: 0px auto;
    padding: 11px 11px;
}